html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /*overflow: hidden;*/
}

a{
    text-decoration: none!important;
}
/* Estilos para el header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #087cca;
    border-bottom: 1px solid #ddd;
    z-index: 999;
    overflow: hidden;
  }
  header nav{
    height: 100%;
}  
header ul{
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;

    justify-content: space-between;
}  
header li{
    list-style: none;
    margin: 0;
    padding: 0;
    
    height: 100%;
}

header li:nth-last-child(2) {
    margin-left: auto;
  }
header a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-family: Arial, sans-serif;

    box-sizing: border-box;
  }
  header .busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-family: Arial, sans-serif;
    width: 100%;
    
    text-decoration: none;
    box-sizing: border-box;
  }
  .campo-icono {
    position: relative;
  }
  .campo-icono input[type="text"] {
    padding-right: 30px; /* Espacio para el icono */
  }
  .campo-icono i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  .campo-icono input::placeholder {
    text-indent: 10px; /* Espacio para el texto */
  }
  #campo-busqueda::placeholder{
    font-family: var(--bs-font-sans-serif), 'Font Awesome 6 Free';
  }
/*
  #resultados-busqueda {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    max-height: 300px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    top: 100%;
    z-index: 999;
  }
  
  #resultados-busqueda li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  #resultados-busqueda li:last-child {
    border-bottom: none;
  }
  
  #resultados-busqueda li:hover {
    background-color: #f5f5f5;
    cursor: pointer;
  }
  
  #resultados-busqueda a {
    text-decoration: none;
    color: #333;
  }
  
  #resultados-busqueda a:hover {
    text-decoration: underline;
  }
*/  
  

  header .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-decoration: none;
    color: white;
    font-family: Arial, sans-serif;
    width: 100%;
    
    text-decoration: none;
    box-sizing: border-box;
  }
  header a.active, header a:hover {
    background-color: #086cca;
  }
  header img{
    height: 100%;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    margin-right: 40px;
  }

  #contenedor-panel {
    position: relative;
    top:70px;
    height: calc(100% - 70px);
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

/* Estilos para el panel lateral */

#panel-lateral-izquierdo {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
   padding: 0;
    background-color: #f5f5f5;
    border-right: 1px solid #b9b7b7;
    z-index: 1; 

  }
  #panel-lateral-izquierdo .panel-lateral-perfil-nombre{
    color: #087cca;
    font-size: 1.5em;
    font-weight: bold;
  }

  #panel-lateral-izquierdo .panel-lateral-perfil-visitas i::before{
    color: #087cca;
 
  }

  #panel-lateral-izquierdo .panel-lateral-notificaciones{
    color: #0fa033;
    font-weight: bold;
  }

  #panel-lateral-izquierdo .panel-lateral-notificaciones p{
    margin-bottom: 5px;
  }

  #panel-lateral-izquierdo .row div{
    margin-left: auto;
  }

  #panel-lateral-izquierdo .panel-lateral-invitaciones, #panel-lateral-izquierdo .panel-lateral-calendario{
    margin-top:10px;
  }
  #panel-lateral-izquierdo img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    /*max-height: 100px;*/
  }
  
  #panel-lateral-izquierdo h2 {
    text-align: center;
    margin-top: 10px;
  }
  
  #panel-lateral-izquierdo ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
  }
  
  #panel-lateral-izquierdo ul li {
    margin-bottom: 5px;
  }
  
  #panel-lateral-izquierdo ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  #panel-lateral-izquierdo ul li a:hover {
    color: #ff6600;
  }

  #panel-lateral-izquierdo .contenedor-perfil{
    /*
    z-index: 2;
    right: 0;
    margin-top: 40px;
    margin-right: -1px;
    float: right;
    width: 85%;
    background-color: #fff;
    border-top: 1px solid #b9b7b7;
    border-bottom: 1px solid #b9b7b7;
    border-left: 1px solid #b9b7b7;
    border-right: none;
    padding: 20px;
    box-sizing: border-box;*/
    position: relative;
    margin-top: 50px;
    margin-right: -1px;
    margin-left: auto;
    padding: 20px;
    background-color: white;
    z-index: 2;
    border-top: 1px solid #b9b7b7;
    border-bottom: 1px solid #b9b7b7;
    border-left: 1px solid #b9b7b7;
    /*overflow: scroll;*/
  }

  
  /* Estilos para el panel central */
  #panel-central {
    
    background-color: #fff;
    
    padding: 45px;
  }
  
  #panel-central h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .publicacion {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .publicacion .usuario {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .publicacion .fecha {
    color: #999;
    margin-bottom: 5px;
  }
  
  .publicacion .mensaje {
    line-height: 1.5;
  }
  
  /* Estilos para el formulario de publicación */
.nueva-publicacion form {
    width: 100%;
    margin-top: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  
  .nueva-publicacion form textarea {
    border: none;
    resize: none;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .nueva-publicacion form button {
    border: none;
    background-color: #087cca;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .nueva-publicacion form button:hover {
    background-color: #086cca;
  }
  .nueva-publicacion .form-control::placeholder{
    font-family: var(--bs-font-sans-serif), 'Font Awesome 6 Free';
  }
  .nuevo_estado_container{
    position: relative;
  }
  .counter-container {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 70px;
    height: 30px;
    border-radius: 20%;
    background-color: #bebec2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #counter {
    color: white;
    font-size: 18px;
  }


  /*Estilos panel novedades amigos*/
  .novedades .entrada a{
    border: 1px solid #b9b7b7;
  }


/*Estilos datatables entradas*/

.mis-entradas .dataTables_paginate .paginate_button:not(.previous):not(.next):not(.first):not(.last) {
  display: none;
}
#yt-video{
  cursor: pointer;
  border: 1px solid #b9b7b7;
  padding: 20px;
  margin:20px 0px 20px 0px;
  background-color: #f5f5f5;
}
#videoModal{
  z-index: 3;
  position: absolute;
  bottom: 0;
  right: 0;
  min-width:560px;
  min-height:315px;
  background-color: #FFFFFF;
  border: 1px solid #b9b7b7;
}
#videoModal iframe, .yt-controller{
  width:100%;
  min-height: 315px;
}
#videoModal .fa-xmark{
  cursor: pointer;
}
/*.mis-entradas .dataTables_paginate .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mis-entradas .dataTables_paginate .pagination .paginate_button {
  border: none;
  background-color: transparent;
  color: #000;
  padding: 5px 10px;
  margin: 0 2px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}

.mis-entradas .dataTables_paginate .pagination .paginate_button:hover {
  background-color: #eee;
}*/

  /*Estilos footer*/
  footer{
    /*position: absolute;*/
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    height: 65px;
    box-sizing: border-box;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }